@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;600;900&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 62.5%;
    height: 100%;
}



:root{
    --font-fm:'League Spartan', sans-serif;
    --background-color: hsl(228, 57%, 88%);
    --background-color: #fff4f4;
    --background-color: hsla(281, 88%, 81%, 0.856);
}


body{
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: #fff4f4;
    color:white;
    /* backdrop-filter: blur(5px); */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateY(-8rem); */
    position: relative;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5);  */
}

:root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
}

input{
    border: 1px solid rgb(233, 226, 226);
    outline:none;
    font-size: 2rem;
    font-weight: 600;
}

input::-webkit-input-placeholder{
    color:white;
}

.form{
    margin: 0 auto;
    min-width: 50rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 5rem 2rem 0rem 2rem;
    border-radius: 10px;
    gap: 1.6rem;
    flex-wrap: wrap;
    background-color: #FFFFF0;
    color: white;
    font-size: 1.8rem;
    min-height:20rem;
    position: relative;
}

.form-auth{
    position: relative;
}

.form-auth::after{
    position: absolute;
    content: "Authorization";
    top:0;
    left:0;
    transform: translate(0px,-30px);
    padding: 1rem;
    /* background-color: hsl(228, 57%, 88%); */
    background: #00b4ff;
    border-radius: 10px;
    color: white;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

.form-auth::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    transform: translate(0px, 20px);
    background: #00b4ff;
    border-radius: 10px;
    width: 100%;
    height: 5.12rem;
}

.form-reg::after{
    position: absolute;
    content: "Registration";
    top:0;
    left:0;
    transform: translate(0px,-30px);
    padding: 1rem;
    background-color: hsl(228, 47%, 59%);
    border-radius: 10px;
    color: white;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

.form-reg::before{
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    transform: translate(0px,20px);
    padding: 1rem;
    background-color: hsl(228, 47%, 59%);
    border-radius: 10px;
    color: white;
    width: 100%;
    height: 5.12rem;
}

.input-panel{
    border-radius: 10px;
    padding: 1.8rem;
    outline: none;
    cursor: pointer;
    margin-right: 1rem;
    width: 100%;
}

.login-pass{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.submit{
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 2rem;
    align-self:start;
    /* margin-top: 1rem; */
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in-out;
    top:.25rem;
}

.submit:hover{
    opacity: .6;
}

@media screen and (max-width:550px){
    .form{
        min-width:fit-content;
    }
    .login-pass{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .login,
    .pass{
        display: flex;
        flex-direction: column;
    }
}

.reg-link {
    text-decoration: none;
    color: white;
    padding: 1rem 0;
    font-weight: 700;
    font-size: 1.8rem;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: .5rem;
    transform: translateY(30%);
}



.reg-link:hover {
    text-decoration: underline;
}